<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-zenz-coreml-app.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D03050042EC4693900E9E19A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D03050112EC4693B00E9E19A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D030501B2EC4693B00E9E19A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
